* {
  margin: 0px;
  padding: 0px;
}

/* Games */
.totalGames-BG {
  background: rgb(216, 174, 238);
  background: linear-gradient(90deg, rgba(216, 174, 238, 1) 0%, rgba(160, 233, 148, 1) 100%);
}

.totalGames-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;

}

.totalGames-listItems {
  font-size: xx-large;
  padding: 5px 15px;
}