* {
  margin: 0px;
  padding: 0px;
}

/* Games */
.totalGames-BG {
  height: 100dvh;
  background: rgb(216, 174, 238);
  background: linear-gradient(90deg, rgba(216, 174, 238, 1) 0%, rgba(160, 233, 148, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gamesHeading {
  text-align: center;
  font-size: 55px;
  letter-spacing: 7px;
  font-style: oblique;
  padding-top: 19px;
}

.totalGames-list {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;

}

.totalGames-listItems {
  font-size: xx-large;
  padding: 5px 15px;
}

.notFound-img {
  height: 100dvh;
  width: 100%;
}

.gameCon {
  height: 150px;
  width: 250px;
  aspect-ratio: 3/4;
  background-color: rgba(240, 248, 255, 0.452);
  border-radius: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: x-large;
  color: #000;
  font-weight: 900;
}

@media screen and (max-width:576px) {
  .totalGames-BG {
    height: fit-content;
  }
}